<!DOCTYPE html>

<html lang="en">

    <head>
      <meta charset="UTF-8">
      <title> C-DEG -Aguas de bogota </title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
      <meta name="keywords"
        content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
      <meta name="author" content="FreeHTML5.co" />

      <!-- Facebook and Twitter integration -->
      <meta property="og:title" content="" />
      <meta property="og:image" content="" />
      <meta property="og:url" content="" />
      <meta property="og:site_name" content="" />
      <meta property="og:description" content="" />
      <meta name="twitter:title" content="" />
      <meta name="twitter:image" content="" />
      <meta name="twitter:url" content="" />
      <meta name="twitter:card" content="" />


      <!-- Theme style  -->
      <link rel="stylesheet" href="css/index(home).css.css">
    </head>

<body>
  <main>
    <nav>
      <a class="navbar-brand" href=""><img src="img/logop.png" alt="" class="logo"></a>
    </nav>
  </main>
</body>

</html>