<!DOCTYPE html>
<!--
	App by FreeHTML5.co
	Twitter: http://twitter.com/fh5co
	URL: http://freehtml5.co
-->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Welcome C-DEG</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
  <meta name="keywords"
    content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
  <meta name="author" content="FreeHTML5.co" />

  <!-- Facebook and Twitter integration -->
  <meta property="og:title" content="" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="og:site_name" content="" />
  <meta property="og:description" content="" />
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />

  <!-- Bootstrap  -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <!-- Owl Carousel  -->
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <!-- Animate.css -->
  <link rel="stylesheet" href="css/animate.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

      <!-- Theme style  -->
      <link rel="stylesheet" href="css/home.css">
    

    </head>

    <style>
      body, html {
            
              overscroll-behavior-y: none !important;
          }
  
          /* Hide scrollbar for Chrome, Safari and Opera */
          body::-webkit-scrollbar {
              display: none;
          }
  
          /* Hide scrollbar for IE, Edge and Firefox */
          body {
              -ms-overflow-style: none; /* IE and Edge */
              scrollbar-width: none; /* Firefox */
          }
  </style>
<body>
  <div id="circle"></div>
  <main>
    <nav class="Navbar-home">
      <a class="navbar-brand" href=""><img src="img/redesing/logo.png" alt="" class="logo"></a>

      <ul class="menu">
        <li class="menu-item"><a href="#">Inicio</a></li>
        <li class="menu-item"><a href="#">Características</a></li>
        <li class="menu-item"><a href="#">Ciclo de vida</a></li>
        <li class=""><a class="login-btn" href="/login">Iniciar sesión</a></li>
      </ul>
    </nav>

    <!-- hero -->
    <div class="hero">
      <h1 class="hero-subtitle">Gestión inteligente de composteras</h1>
      <h2 class="hero-title">Transforma tus <br> Residuos  en Vida</h2>

    </div>
   <!-- video -->
    <div class="video-section">
        <iframe class="youtube-video" width="987" height="555.19" src="https://www.youtube-nocookie.com/embed/B2hGUthT7Kk?si=6Hl694dy4ydvdLI8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <!-- features -->
    <div class="features">
        <div class="imagen-feat">
        <img src="img/NEW/features.png" alt="" srcset="" width="100%">
        </div>
        <div class="list-feat">
          <h2>Gestión inteligente de composteras</h2>
          <div class="featature-item">
          <img src="img/NEW/check.png" alt="" srcset="">
          Crea Composteras en un Click
          </div>
          <div class="featature-item">
          <img src="img/NEW/check.png" alt="" srcset="">
            Visualiza Estadísticas en Tiempo Real
          </div>
          <div class="featature-item">
          <img src="img/NEW/check.png" alt="" srcset="">
            Genera Informes en PDF con un Toque
          </div>
          <div class="featature-item">
          <img src="img/NEW/check.png" alt="" srcset="">
            Registra Seguimiento de Forma Sencilla
          </div>
          <div class="featature-item">
          <img src="img/NEW/check.png" alt="" srcset="">
            Explora el Perfil Detallado de Cada Compostera
          </div>
          <div class="featature-item">
          <img src="img/NEW/check.png" alt="" srcset="">
            Recibe Notificaciones Instantáneas de Fallas
          </div>
        </div>
    </div>

    <!-- ciclo del compost -->

    <div class="ciclo-compost">
      <h3>Ciclo de vida del compost</h3>
      <img src="img/NEW/compost-cicle.png" alt="">
    </div>

    <!-- Detalles que Importan -->

    <div class="details">
      <img src="img/NEW/collage.png" alt="" class="collage">
      <div class="details-info">
        <h3>Detalles que Importan</h3>
        <p>Captura información esencial sobre el seguimiento de cada compostera. Explora perfiles detallados y lleva tu gestión al siguiente nivel.</p>
        <a class="login-btn" href="/login"> Iniciar sesión</a>
      </div>
    </div>
  </main>
<script src="js/home.js"></script>
</body>


</html>