<%- include('./partials/nav.ejs') %>
<style>
  /* Estilos personalizados */
  #fotoContainer img {
      max-width: 100%; /* Ajustar el tamaño máximo al contenedor */
      border-radius: 10px; /* Esquinas redondeadas */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
      margin-bottom: 10px; /* Espacio inferior */
      max-height: 200px;
  }
</style>
  <body>



    <div class="container" style="margin-top: 120px; ">
      <div class="row justify-content-center mt-5 ">
        <div class="col-lg-5 col-md-8 col-sm-8">
          <div class="card">
            <div class="card-title text-center border-bottom">
              <h2 class="p-3">Evidencias fotográficas</h2>
            </div>
            <div class="card-body">
              <input id="idInput" type="text" value="<%= result[0].id %>" name="id" class="form-control mb-3" placeholder="ID" hidden>
              <input type="file" accept="image/*" id="fileInput" name="evidencia_foto" class="form-control mb-3">
              <div id="fotoContainer"></div>
              <a  style="width:100%" class="btn btn-success mt-3" href="/perfilCompost/<%= result[0].id_compostera %>">Continuar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        cargarFotos();

        const fileInput = document.getElementById('fileInput');
        fileInput.addEventListener('change', tomarFotoAutomatically);
      });

      function tomarFotoAutomatically() {
        tomarFoto();
      }

      function tomarFoto() {
        const fileInput = document.getElementById('fileInput');
        const idInput = document.getElementById('idInput'); // Asegúrate de tener un elemento input con el ID correspondiente
        const fotoContainer = document.getElementById('fotoContainer');

        const file = fileInput.files[0];
        const id = idInput.value;

        if (file && id) {
          // Enviar la foto y el ID al servidor usando Fetch
          const formData = new FormData();
          formData.append('evidencia_foto', file);
          formData.append('id', id);

          fetch('/subirFoto', {
            method: 'POST',
            body: formData
          })
            .then(response => response.json())
            .then(data => {
              // Agregar la foto al contenedor en el cliente
              const img = document.createElement('img');
              img.src = data.url;
              fotoContainer.appendChild(img);
            })
            .catch(error => console.error('Error:', error));
        } else {
          alert('Por favor, selecciona una foto y proporciona un ID.');
        }
      }

      function cargarFotos() {
        // Puedes implementar la lógica para cargar las fotos almacenadas en el servidor
        // y mostrarlas en el contenedor
      }

      function continuar() {
        // Redirigir o realizar alguna acción al hacer clic en "Continuar"
        alert('Continuar...');
      }


    </script>
    <%- include('./partials/footer.ejs') %>
  </body>

  </html>