.login{
    
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
    
}
.listaUsuarios{
    
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
}
