<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styleNavar.css">
  <link href="../css/mapa.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel="shortcut icon" href="../img/logop.png" type="image/x-icon">
  <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

</head>

<body>

<style>
  .loader{
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000070;
    backdrop-filter: blur(10px);
    position: fixed;
  }

  .js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;

  display: flex;
  justify-content: center;
  align-items: center;
  
  /* You can change the background color and image URL here.  This solution works with animated .svg and animated .gif */
  background: #00000080  no-repeat center center;
  backdrop-filter: blur(10px);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 28px;
  height: 28px;
  aspect-ratio: 1 1;
  border-radius: 50%;
  background: #E76E09;
  animation: l7 2s infinite;
}
@keyframes l7 {
  0%,
  100%  {transform:translate(-30px,-30px);box-shadow:  0     0 #ec8836, 0     0 #ecac36}
  12.5% {transform:translate( 30px,-30px);box-shadow: -15px  0 #ec8836,-30px  0 #ecac36}
  25%   {transform:translate( 30px,-30px);box-shadow:  0     0 #ec8836, 0     0 #ecac36}
  37.5% {transform:translate( 30px, 30px);box-shadow:  0 -15px #ec8836, 0 -30px #ecac36}
  50%   {transform:translate( 30px, 30px);box-shadow:  0     0 #ec8836, 0     0 #ecac36}
  62.5% {transform:translate(-30px, 30px);box-shadow:  15px  0 #ec8836, 30px  0 #ecac36}
  75%   {transform:translate(-30px, 30px);box-shadow:  0     0 #ec8836, 0     0 #ecac36}
  87.5% {transform:translate(-30px,-30px);box-shadow:  0  15px #ec8836, 0  30px #ecac36}
}
</style>

<div id="preloader">
    <div class="loader"></div>
</div>

<script>
 // Agrega la clase 'js' al elemento HTML. Esta clase se agrega con JavaScript en lugar de ponerla directamente en el HTML para evitar que el preloader se muestre si JavaScript no está disponible. Sin JavaScript, el preloader no se desvanecería y permanecería visible indefinidamente.
document.documentElement.classList.add("js");

// Función para esperar a que se cargue el DOM
document.addEventListener("DOMContentLoaded", function () {
  // Obtiene el elemento con el id 'preloader'
  var preloader = document.getElementById("preloader");

  // Función para desvanecer y eliminar el preloader
  function fadeOutPreloader() {
    preloader.style.transition = "opacity 0.5s ease"; // Agrega una transición de desvanecimiento
    preloader.style.opacity = 0; // Establece la opacidad a 0 para desvanecer
    setTimeout(function () {
      preloader.parentNode.removeChild(preloader); // Elimina el preloader del DOM
    }, 500); // Espera 500ms (duración de la transición) antes de eliminarlo completamente
  }

  // Llama a la función para desvanecer y eliminar el preloader después de que se cargue el DOM
  fadeOutPreloader();
});

</script>


  <header class="headerNav">
    <nav class="navbar navbar-light bg-light fixed-top ">
      <div class="container-fluid">
        <div>

          <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
            aria-controls="offcanvasScrolling"><i class='bx bx-menu bx-md'></i></button>
            <a href="/home" class="navLogo"><img src="../img/logop.png" alt="" width="150px"></a>
        </div>


        <div class="offcanvas offcanvas-start bg-transparent" 
          id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel"  style="background-color: #00000070; backdrop-filter: blur(30px) !important;">
          <div class="offcanvas-header" style="background-color: #eeeeee;  backdrop-filter: blur(20px); color:#ffffff;">
            <a href="/home" class="navLogo"><img src="../img/logop.png" alt="" width="150px" height="auto"></a>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body" style="background-color: #f4f4f4; ">
            <ul>
              <% if ( role=='admin' || role=='user1'  || role=='supervisor' ) {%>
                <li class="text-dark p-2 m-2" style="background-color: #ffffff; border-radius: 15px; color:#ffffff;">
                  <a href="/home" class="nav-link text-dark"> 
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M19.75 10.0001C19.75 9.80116 19.671 9.6104 19.5303 9.46974C19.3896 9.32909 19.1989 9.25007 19 9.25007C18.8011 9.25007 18.6103 9.32909 18.4696 9.46974C18.329 9.6104 18.25 9.80116 18.25 10.0001H19.75ZM5.74997 10.0001C5.74997 9.80116 5.67095 9.6104 5.5303 9.46974C5.38965 9.32909 5.19888 9.25007 4.99997 9.25007C4.80106 9.25007 4.61029 9.32909 4.46964 9.46974C4.32899 9.6104 4.24997 9.80116 4.24997 10.0001H5.74997ZM20.47 12.5301C20.5386 12.6038 20.6214 12.6629 20.7134 12.7039C20.8054 12.7448 20.9047 12.7669 21.0054 12.7687C21.1062 12.7704 21.2062 12.7519 21.2996 12.7142C21.393 12.6765 21.4778 12.6203 21.549 12.5491C21.6202 12.4779 21.6764 12.3931 21.7141 12.2997C21.7518 12.2063 21.7703 12.1063 21.7686 12.0056C21.7668 11.9048 21.7447 11.8055 21.7038 11.7135C21.6628 11.6215 21.6037 11.5387 21.53 11.4701L20.47 12.5301ZM12 3.00007L12.53 2.47007C12.3893 2.32962 12.1987 2.25073 12 2.25073C11.8012 2.25073 11.6106 2.32962 11.47 2.47007L12 3.00007ZM2.46997 11.4701C2.39628 11.5387 2.33718 11.6215 2.29619 11.7135C2.2552 11.8055 2.23316 11.9048 2.23138 12.0056C2.2296 12.1063 2.24813 12.2063 2.28585 12.2997C2.32357 12.3931 2.37971 12.4779 2.45093 12.5491C2.52215 12.6203 2.60698 12.6765 2.70037 12.7142C2.79376 12.7519 2.89379 12.7704 2.99449 12.7687C3.0952 12.7669 3.19451 12.7448 3.28651 12.7039C3.37851 12.6629 3.46131 12.6038 3.52997 12.5301L2.46997 11.4701ZM6.99997 21.7501H17V20.2501H6.99997V21.7501ZM19.75 19.0001V10.0001H18.25V19.0001H19.75ZM5.74997 19.0001V10.0001H4.24997V19.0001H5.74997ZM21.53 11.4701L12.53 2.47007L11.47 3.53007L20.47 12.5301L21.53 11.4701ZM11.47 2.47007L2.46997 11.4701L3.52997 12.5301L12.53 3.53007L11.47 2.47007ZM17 21.7501C17.7293 21.7501 18.4288 21.4603 18.9445 20.9446C19.4602 20.4289 19.75 19.7294 19.75 19.0001H18.25C18.25 19.6901 17.69 20.2501 17 20.2501V21.7501ZM6.99997 20.2501C6.30997 20.2501 5.74997 19.6901 5.74997 19.0001H4.24997C4.24997 19.7294 4.5397 20.4289 5.05543 20.9446C5.57115 21.4603 6.27063 21.7501 6.99997 21.7501V20.2501Z" fill="black"/>
                      </svg>
                      
                    Home</a>
                </li>
                <% } %>
                  <% if ( role=='admin') {%>
                    <li class="text-dark p-2 m-2" style="background-color: #ffffff; border-radius: 15px; color:#ffffff;">
                      <a href="/register" class="nav-link text-dark"> 
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 10C14.2091 10 16 8.20914 16 6C16 3.79086 14.2091 2 12 2C9.79086 2 8 3.79086 8 6C8 8.20914 9.79086 10 12 10Z" stroke="black" stroke-width="1.5"/>
                          <path d="M19.998 18C20 17.836 20 17.669 20 17.5C20 15.015 16.418 13 12 13C7.582 13 4 15.015 4 17.5C4 19.985 4 22 12 22C14.231 22 15.84 21.843 17 21.563" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                          </svg>
                          
                        Panel usuarios</a>
                    </li>




                    <% } %>
                      <li hidden class="text-dark p-2 m-2" style="background-color: #ffffff; border-radius: 15px; color:#ffffff;">
                        <a href="/myperfil" class="nav-link text-dark"> <i class='bx bx-user'></i> Mi perfil</a>
                      </li>

                      <li class="text-dark p-2 m-2" style="background-color: #ffffff; border-radius: 15px; color:#ffffff;">
                        <a href="/panelinventarios" class="nav-link text-dark">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 8C4 5.172 4 3.757 4.879 2.879C5.757 2 7.172 2 10 2H14C16.828 2 18.243 2 19.121 2.879C20 3.757 20 5.172 20 8V16C20 18.828 20 20.243 19.121 21.121C18.243 22 16.828 22 14 22H10C7.172 22 5.757 22 4.879 21.121C4 20.243 4 18.828 4 16V8Z" stroke="black" stroke-width="1.5"/>
                            <path d="M19.898 16H7.898C6.968 16 6.503 16 6.121 16.102C5.61231 16.2384 5.14849 16.5063 4.77618 16.8788C4.40386 17.2513 4.13616 17.7152 4 18.224" stroke="black" stroke-width="1.5"/>
                            <path d="M8 7H16M8 10.5H13" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                            </svg>
                            
                          Manual</a>
                      </li>


                      <li class="text-dark p-2 m-2" style="background-color: #ffffff; border-radius: 15px; color:#ffffff;">
                        <a href="/agregarNuevaCompostera" class="nav-link text-dark">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.00702 12.0001C7.00702 11.8012 7.08604 11.6104 7.22669 11.4698C7.36734 11.3291 7.55811 11.2501 7.75702 11.2501H11.25V7.75708C11.25 7.55817 11.329 7.3674 11.4697 7.22675C11.6103 7.0861 11.8011 7.00708 12 7.00708C12.1989 7.00708 12.3897 7.0861 12.5303 7.22675C12.671 7.3674 12.75 7.55817 12.75 7.75708V11.2501H16.243C16.4419 11.2501 16.6327 11.3291 16.7733 11.4698C16.914 11.6104 16.993 11.8012 16.993 12.0001C16.993 12.199 16.914 12.3898 16.7733 12.5304C16.6327 12.6711 16.4419 12.7501 16.243 12.7501H12.75V16.2431C12.75 16.442 12.671 16.6328 12.5303 16.7734C12.3897 16.9141 12.1989 16.9931 12 16.9931C11.8011 16.9931 11.6103 16.9141 11.4697 16.7734C11.329 16.6328 11.25 16.442 11.25 16.2431V12.7501H7.75702C7.55811 12.7501 7.36734 12.6711 7.22669 12.5304C7.08604 12.3898 7.00702 12.199 7.00702 12.0001Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.31703 3.76904C10.4295 3.42399 13.5706 3.42399 16.683 3.76904C18.51 3.97304 19.985 5.41204 20.199 7.24904C20.569 10.406 20.569 13.595 20.199 16.752C19.984 18.589 18.509 20.027 16.683 20.232C13.5706 20.5771 10.4295 20.5771 7.31703 20.232C5.49003 20.027 4.01503 18.589 3.80103 16.752C3.4318 13.5951 3.4318 10.4059 3.80103 7.24904C4.01503 5.41204 5.49103 3.97304 7.31703 3.76904ZM16.517 5.25904C13.5149 4.92627 10.4852 4.92627 7.48303 5.25904C6.92727 5.32069 6.40853 5.56791 6.0106 5.96075C5.61268 6.35359 5.35882 6.86912 5.29003 7.42404C4.93437 10.465 4.93437 13.5371 5.29003 16.578C5.35903 17.1328 5.61298 17.6481 6.01089 18.0407C6.40879 18.4334 6.92742 18.6804 7.48303 18.742C10.46 19.074 13.54 19.074 16.517 18.742C17.0725 18.6802 17.5909 18.433 17.9886 18.0404C18.3863 17.6478 18.6401 17.1326 18.709 16.578C19.0647 13.5371 19.0647 10.465 18.709 7.42404C18.6399 6.86963 18.386 6.35468 17.9883 5.96226C17.5906 5.56983 17.0723 5.32281 16.517 5.26104V5.25904Z" fill="black"/>
                            </svg>
                            
                          Agregar nueva compostera</a>
                      </li>

                      <li class="text-dark p-2 m-2" style="background-color: #ffffff; border-radius: 15px; color:#ffffff;">
                        <a href="/totalcomposteraslist" class="nav-link text-dark"> 
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 2H4C3 2 2 2.9 2 4V7.01C2 7.73 2.43 8.35 3 8.7V20C3 21.1 4.1 22 5 22H19C19.9 22 21 21.1 21 20V8.7C21.57 8.35 22 7.73 22 7.01V4C22 2.9 21 2 20 2ZM19 20H5V9H19V20ZM20 7H4V4H20V7Z" fill="black"/>
                            <path d="M9 12H15V14H9V12Z" fill="black"/>
                            </svg>
                            
                          Lista de Composteras</a>
                      </li> 
                   





            </ul>
          </div>
        </div>
        
        
        <style>
          @media screen and (max-width: 1024px) {
                    .topbar-desk{
                      display: none !important;
                  }
              }
        </style>
        <ul style="display: flex;" class="topbar-desk" >
          <% if ( role=='admin' || role=='user1'  || role=='supervisor' ) {%>
            <li class="text-dark p-2 m-2" style="background-color: #ffffff50; border-radius: 15px;">
              <a href="/home" class="nav-link text-dark"> 
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.75 10.0001C19.75 9.80116 19.671 9.6104 19.5303 9.46974C19.3896 9.32909 19.1989 9.25007 19 9.25007C18.8011 9.25007 18.6103 9.32909 18.4696 9.46974C18.329 9.6104 18.25 9.80116 18.25 10.0001H19.75ZM5.74997 10.0001C5.74997 9.80116 5.67095 9.6104 5.5303 9.46974C5.38965 9.32909 5.19888 9.25007 4.99997 9.25007C4.80106 9.25007 4.61029 9.32909 4.46964 9.46974C4.32899 9.6104 4.24997 9.80116 4.24997 10.0001H5.74997ZM20.47 12.5301C20.5386 12.6038 20.6214 12.6629 20.7134 12.7039C20.8054 12.7448 20.9047 12.7669 21.0054 12.7687C21.1062 12.7704 21.2062 12.7519 21.2996 12.7142C21.393 12.6765 21.4778 12.6203 21.549 12.5491C21.6202 12.4779 21.6764 12.3931 21.7141 12.2997C21.7518 12.2063 21.7703 12.1063 21.7686 12.0056C21.7668 11.9048 21.7447 11.8055 21.7038 11.7135C21.6628 11.6215 21.6037 11.5387 21.53 11.4701L20.47 12.5301ZM12 3.00007L12.53 2.47007C12.3893 2.32962 12.1987 2.25073 12 2.25073C11.8012 2.25073 11.6106 2.32962 11.47 2.47007L12 3.00007ZM2.46997 11.4701C2.39628 11.5387 2.33718 11.6215 2.29619 11.7135C2.2552 11.8055 2.23316 11.9048 2.23138 12.0056C2.2296 12.1063 2.24813 12.2063 2.28585 12.2997C2.32357 12.3931 2.37971 12.4779 2.45093 12.5491C2.52215 12.6203 2.60698 12.6765 2.70037 12.7142C2.79376 12.7519 2.89379 12.7704 2.99449 12.7687C3.0952 12.7669 3.19451 12.7448 3.28651 12.7039C3.37851 12.6629 3.46131 12.6038 3.52997 12.5301L2.46997 11.4701ZM6.99997 21.7501H17V20.2501H6.99997V21.7501ZM19.75 19.0001V10.0001H18.25V19.0001H19.75ZM5.74997 19.0001V10.0001H4.24997V19.0001H5.74997ZM21.53 11.4701L12.53 2.47007L11.47 3.53007L20.47 12.5301L21.53 11.4701ZM11.47 2.47007L2.46997 11.4701L3.52997 12.5301L12.53 3.53007L11.47 2.47007ZM17 21.7501C17.7293 21.7501 18.4288 21.4603 18.9445 20.9446C19.4602 20.4289 19.75 19.7294 19.75 19.0001H18.25C18.25 19.6901 17.69 20.2501 17 20.2501V21.7501ZM6.99997 20.2501C6.30997 20.2501 5.74997 19.6901 5.74997 19.0001H4.24997C4.24997 19.7294 4.5397 20.4289 5.05543 20.9446C5.57115 21.4603 6.27063 21.7501 6.99997 21.7501V20.2501Z" fill="black"/>
                  </svg>
                  
                Home</a>
            </li>
            <% } %>
              <% if ( role=='admin') {%>
                <li class="text-dark p-2 m-2" style="background-color: #ffffff50; border-radius: 15px;">
                  <a href="/register" class="nav-link text-dark"> 
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 10C14.2091 10 16 8.20914 16 6C16 3.79086 14.2091 2 12 2C9.79086 2 8 3.79086 8 6C8 8.20914 9.79086 10 12 10Z" stroke="black" stroke-width="1.5"/>
                      <path d="M19.998 18C20 17.836 20 17.669 20 17.5C20 15.015 16.418 13 12 13C7.582 13 4 15.015 4 17.5C4 19.985 4 22 12 22C14.231 22 15.84 21.843 17 21.563" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                      </svg>
                      
                    Panel usuarios</a>
                </li>




                <% } %>
                  <li hidden class="text-dark p-2 m-2" style="background-color: #ffffff50; border-radius: 15px;">
                    <a href="/myperfil" class="nav-link text-dark"> <i class='bx bx-user'></i> Mi perfil</a>
                  </li>

                  <li class="text-dark p-2 m-2" style="background-color: #ffffff50; border-radius: 15px;">
                    <a href="/panelinventarios" class="nav-link text-dark"> 
                      
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 8C4 5.172 4 3.757 4.879 2.879C5.757 2 7.172 2 10 2H14C16.828 2 18.243 2 19.121 2.879C20 3.757 20 5.172 20 8V16C20 18.828 20 20.243 19.121 21.121C18.243 22 16.828 22 14 22H10C7.172 22 5.757 22 4.879 21.121C4 20.243 4 18.828 4 16V8Z" stroke="black" stroke-width="1.5"/>
                        <path d="M19.898 16H7.898C6.968 16 6.503 16 6.121 16.102C5.61231 16.2384 5.14849 16.5063 4.77618 16.8788C4.40386 17.2513 4.13616 17.7152 4 18.224" stroke="black" stroke-width="1.5"/>
                        <path d="M8 7H16M8 10.5H13" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                        Manual</a>
                  </li>

                  <li class="text-dark p-2 m-2" style="background-color: #ffffff50; border-radius: 15px;">
                    <a href="/agregarNuevaCompostera" class="nav-link text-dark"> 
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.00702 12.0001C7.00702 11.8012 7.08604 11.6104 7.22669 11.4698C7.36734 11.3291 7.55811 11.2501 7.75702 11.2501H11.25V7.75708C11.25 7.55817 11.329 7.3674 11.4697 7.22675C11.6103 7.0861 11.8011 7.00708 12 7.00708C12.1989 7.00708 12.3897 7.0861 12.5303 7.22675C12.671 7.3674 12.75 7.55817 12.75 7.75708V11.2501H16.243C16.4419 11.2501 16.6327 11.3291 16.7733 11.4698C16.914 11.6104 16.993 11.8012 16.993 12.0001C16.993 12.199 16.914 12.3898 16.7733 12.5304C16.6327 12.6711 16.4419 12.7501 16.243 12.7501H12.75V16.2431C12.75 16.442 12.671 16.6328 12.5303 16.7734C12.3897 16.9141 12.1989 16.9931 12 16.9931C11.8011 16.9931 11.6103 16.9141 11.4697 16.7734C11.329 16.6328 11.25 16.442 11.25 16.2431V12.7501H7.75702C7.55811 12.7501 7.36734 12.6711 7.22669 12.5304C7.08604 12.3898 7.00702 12.199 7.00702 12.0001Z" fill="black"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.31703 3.76904C10.4295 3.42399 13.5706 3.42399 16.683 3.76904C18.51 3.97304 19.985 5.41204 20.199 7.24904C20.569 10.406 20.569 13.595 20.199 16.752C19.984 18.589 18.509 20.027 16.683 20.232C13.5706 20.5771 10.4295 20.5771 7.31703 20.232C5.49003 20.027 4.01503 18.589 3.80103 16.752C3.4318 13.5951 3.4318 10.4059 3.80103 7.24904C4.01503 5.41204 5.49103 3.97304 7.31703 3.76904ZM16.517 5.25904C13.5149 4.92627 10.4852 4.92627 7.48303 5.25904C6.92727 5.32069 6.40853 5.56791 6.0106 5.96075C5.61268 6.35359 5.35882 6.86912 5.29003 7.42404C4.93437 10.465 4.93437 13.5371 5.29003 16.578C5.35903 17.1328 5.61298 17.6481 6.01089 18.0407C6.40879 18.4334 6.92742 18.6804 7.48303 18.742C10.46 19.074 13.54 19.074 16.517 18.742C17.0725 18.6802 17.5909 18.433 17.9886 18.0404C18.3863 17.6478 18.6401 17.1326 18.709 16.578C19.0647 13.5371 19.0647 10.465 18.709 7.42404C18.6399 6.86963 18.386 6.35468 17.9883 5.96226C17.5906 5.56983 17.0723 5.32281 16.517 5.26104V5.25904Z" fill="black"/>
                        </svg>
                        
                      Agregar nueva compostera</a>
                  </li>

                  <li class="text-dark p-2 m-2" style="background-color: #ffffff50; border-radius: 15px;">
                    <a href="/totalcomposteraslist" class="nav-link text-dark"> 
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 2H4C3 2 2 2.9 2 4V7.01C2 7.73 2.43 8.35 3 8.7V20C3 21.1 4.1 22 5 22H19C19.9 22 21 21.1 21 20V8.7C21.57 8.35 22 7.73 22 7.01V4C22 2.9 21 2 20 2ZM19 20H5V9H19V20ZM20 7H4V4H20V7Z" fill="black"/>
                        <path d="M9 12H15V14H9V12Z" fill="black"/>
                        </svg>
                        
                      Lista de Composteras</a>
                  </li>



                 



        </ul>
        <div class="d-flex">
          
          <a href="/loginAut" class="btn btn-outline-danger" type="submit">Salir <i
              class='bx bx-log-out-circle'></i></a>

        </div>
      </div>
    </nav>




  </header>